audioread==2.1.6
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
idna==2.7
joblib==0.12.5
kiwisolver==1.0.1
librosa==0.5.1
llvmlite==0.25.0
matplotlib==2.2.2
mkl-fft==1.0.0
mkl-random==1.0.1
numba==0.40.1
numpy==1.14.2
olefile==0.46
Pillow==8.3.2
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.20.0
resampy==0.2.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
torch==0.3.0
torchtext==0.2.1
torchvision==0.2.0
tornado==5.0.2
tqdm==4.28.1
urllib3==1.24.2
